<nav class="navbar navbar-expand-lg navbar-light bg-light " id="homedata">
  <a class="navbar-brand" href="#">Navbar</a>
  <a class="btn" *ngIf="isauthonticate()==false">Home </a>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto ">
          
           
    </ul>
    <ul class="navbar-nav">      
        <a class="btn btn-primary m-2" *ngIf="isauthonticate()"  routerLink="/login" routerLinkActive="active" >Login</a> 
        <a class="btn btn-danger m-2" *ngIf="isauthonticate()==false" (click)="logoutData()" routerLinkActive="active" >Logout</a> 
           
    </ul>
    
  </div>

  
</nav>

<router-outlet></router-outlet>
